
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin: 0 35px 0 200px;
}
span{
    color: rgba(253, 110, 10, 1) ;
}
.nav-title{
    font-weight:800 ;
    font-size: 45px;

}
/* header- */
.header{
    background-image: url(../developer.png) url(../header_bg.png);
    background-repeat: no-repeat;
    background-position: top  left bottom;
}
nav ul li{
    list-style: none;
}
ul a{
    text-decoration: none;
}
ul{
    display: flex;
    gap: 51px;
    align-items: center;
}
.button{
    background-color:rgba(253, 110, 10, 1) ;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    
}
/* benner-style */
.benner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.contain-title{
    font-size: 45px;
    font-weight: 600;
}
.contain-name{
    font-size: 85px;
    font-weight: bold;
}
.contain-cv{
    background-color:rgba(253, 110, 10, 1) ;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}
.contain-con{
    background-color:none ;
    font-weight: bold;
    color: rgba(253, 110, 10, 1);
    padding: 18px 35px;
    border-radius: 5px;
    border: 4px solid rgba(253, 110, 10, 1);
}
.benner-img{
    width: 580px;
}
/* font-style */
.font-style{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.font-style2{
    font-size: 18px;
    color: #757575;

}
.secondery-bg{
    background-color: #fff8f3;
}
/* main- */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-section{
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.adout-items{
    display: flex;
    justify-content: space-around;
}
/* skills- */
.skils{
    text-align: center;
    margin-top: 130px;
}
/* skils-container */
.skills-container{
    display: flex;
    gap: 24px;
}
.ski{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(00, 00, 00, 0.6 ) ;
}